### Acquisition:
 - Objectives:
     - Find out where our data is
     - Figure out the appropriate method to obtain our data
     - Actually obtain the data
     - Construct a replicable means of acquiring that data on a modular level*

In [1]:
# Copy portion you want then run this command
# pd.read_clipboard()

## Notes:
 - read_clipboard is fairly fragile.
 - It will do its best, but can often break or corrupt your information that you want
 - It may be best practice to reformat the data that you put in your clipboard by savign it in a csv or other text file before readint it into a pandas dataframe
 - If we want to take raw text data off of a web page, this will require often a little bit of extra manipulation regarding strings, content, html, regex, and other topics that we will dive further on into inside of our other methodologies

# Acquire Exercises

##### 1. Make a new repo called classification-exercises on both GitHub and within your codeup-data-science directory. This will be where you do your work for this module.
COMPLETED

##### 2. Inside of your local classification-exercises repo, create a file named .gitignore with the following contents: env.py .DS_Store .ipynb_checkpoints/ __pycache__ *.csv Add and commit your .gitignore file before moving forward.
COMPLETED

##### 3. Now that you are 100% sure that your .gitignore file lists env.py, create or copy your env.py file inside of classification-exercises. Running git status should show that git is ignoring this file.
COMPLETED

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split
from pydataset import data
import env
import acquire
import prepare

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [3]:
df_iris = data('iris')

##### 4a. Print the first 3 rows

In [4]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

##### 4b. Print the number of rows and columns (shape)

In [5]:
df_iris.shape

(150, 5)

##### 4c. Print the column names

In [6]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

##### 4d. Print the data type of each column

In [7]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

##### 4e. Print the summary statistics for each of the numeric variables

In [8]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the data from this google sheet into a dataframe, df_google.

In [9]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

##### 5a. print the first 3 rows

In [10]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

##### 5b. print the number of rows and columns

In [11]:
df_google.shape

(891, 12)

##### 5c. print the column names

In [12]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

##### 5d. print the data type of each column

In [13]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

##### 5e. print the summary statistics for each of the numeric variables

In [14]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

##### 5f. print the unique values for each of your categorical variables

In [15]:
df_google.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

### 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [16]:
df_excel = pd.read_excel('train.xlsx')

##### 6a. assign the first 100 rows to a new dataframe, df_excel_sample

In [17]:
df_excel_sample = df_excel.head(100)

##### 6b. print the number of rows of your original dataframe

In [18]:
df_excel.shape[0]

891

##### 6c. print the first 5 column names

In [19]:
df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

##### 6d. print the column names that have a data type of object

In [20]:
df_excel.select_dtypes(include=['object']).columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

##### 6e. compute the range for each of the numeric variables.

In [21]:
numeric_col = df_excel.select_dtypes(include=['float', 'int']).columns
for col in numeric_col:
    col_min = df_excel[col].min()
    col_max = df_excel[col].max()
    col_range = col_max - col_min
    print(f'Range for {col}: {col_range}')

Range for PassengerId: 890
Range for Survived: 1
Range for Pclass: 2
Range for Age: 79.58
Range for SibSp: 8
Range for Parch: 6
Range for Fare: 512.3292

# Acquire.py Testing

In [22]:
# Acquire titanic dataset and alias as titanic_df
titanic_df = acquire.get_titanic_data()
titanic_df.sample()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
428,428,0,3,male,NaN,0,0,7.75,Q,Third,NaN,Queenstown,1

In [23]:
# Acquire iris dataset and alias as iris_df
iris_df = acquire.get_iris_data()
iris_df.sample()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
108,3,109,6.7,2.5,5.8,1.8,virginica

In [24]:
# Acquire telco_churn dataset and alias as telco_df
telco_df = acquire.get_telco_data()
telco_df.sample()

,contract_type_id,payment_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,payment_type,contract_type
1437,3,4,2,2121-JAFOM,Female,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,115.55,8312.4,No,Fiber optic,Credit card (automatic),Two year

# Prepare Exercises

##### The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

##### This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

### 1. Using the Iris Data:

##### 1a. Use the function defined in acquire.py to load the iris data.

In [25]:
iris_db = acquire.get_iris_data()
iris_db.sample()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
22,1,23,4.6,3.6,1.0,0.2,setosa

##### 1b. Drop the species_id and measurement_id columns.

In [26]:
iris_db = iris_db.drop(columns=['species_id', 'measurement_id'])
iris_db.sample()

    sepal_length  sepal_width  petal_length  petal_width species_name
89           5.5          2.5           4.0          1.3   versicolor

##### 1c. Rename the species_name column to just species.

In [27]:
iris_db = iris_db.rename(columns={'species_name' : 'species'})
iris_db.sample()

    sepal_length  sepal_width  petal_length  petal_width     species
78           6.0          2.9           4.5          1.5  versicolor

##### 1d. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [28]:
# 'setosa', 'versicolor', 'virginica'
iris_db.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [29]:
dummies = pd.get_dummies(iris_db['species'])
iris_db = pd.concat([iris_db, dummies], axis=1)

In [30]:
iris_db.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
setosa          0
versicolor      0
virginica       0
dtype: int64

In [31]:
iris_db

,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0
5,5.4,3.9,1.7,0.4,setosa,1,0,0
6,4.6,3.4,1.4,0.3,setosa,1,0,0
7,5.0,3.4,1.5,0.2,setosa,1,0,0
8,4.4,2.9,1.4,0.2,setosa,1,0,0
9,4.9,3.1,1.5,0.1,setosa,1,0,0
10,5.4,3.7,1.5,0.2,setosa,1,0,0
11,4.8,3.4,1.6,0.2,setosa,1,0,0
12,4.8,3.0,1.4,0.1,setosa,1,0,0
13,4.3,3.0,1.1,0.1,setosa,1,0,0
14,5.8,4.0,1.2,0.2,setosa,1,0,0
15,5.7,4.4,1.5,0.4,setosa,1,0,0
16,5.4,3.9,1.3,0.4,setosa,1,0,0
17,5.1,3.5,1.4,0.3,setosa,1,0,0
18,5.7,3.8,1.7,0.3,setosa,1,0,0
19,5.1,3.8,1.5,0.3,setosa,1,0,0
20,5.4,3.4,1.7,0.2,setosa,1,0,0
21,5.1,3.7,1.5,0.4,setosa,1,0,0
22,4.6,3.6,1.0,0.2,setosa,1,0,0
23,5.1,3.3,1.7,0.5,setosa,1,0,0
24,4.8,3.4,1.9,0.2,setosa,1,0,0
25,5.0,3.0,1.6,0.2,setosa,1,0,0
26,5.0,3.4,1.6,0.4,setosa,1,0,0
27,5.2,3.5,1.5,0.2,setosa,1,0,0
28,5.2,3.4,1.4,0.2,setosa,1,0,0
29,4.7,3.2,1.6,0.2,setosa,1,0,0
30,4.8,3.1,1.6,0.2,setosa,1,0,0
31,5.4,3.4,1.5,0.4,setosa,1,0,0
32,5.2,4.1,1.5,0.1,setosa,1,0,0
33,5.5,4.2,1.4,0.2,setosa,1,0,0
34,4.9,3.1,1.5,0.2,setosa,1,0,0
35,5.0,3.2,1.2,0.2,setosa,1,0,0
36,5.5,3.5,1.3,0.2,setosa,1,0,0
37,4.9,3.6,1.4,0.1,setosa,1,0,0
38,4.4,3.0,1.3,0.2,setosa,1,0,0
39,5.1,3.4,1.5,0.2,setosa,1,0,0
40,5.0,3.5,1.3,0.3,setosa,1,0,0
41,4.5,2.3,1.3,0.3,setosa,1,0,0
42,4.4,3.2,1.3,0.2,setosa,1,0,0
43,5.0,3.5,1.6,0.6,setosa,1,0,0
44,5.1,3.8,1.9,0.4,setosa,1,0,0
45,4.8,3.0,1.4,0.3,setosa,1,0,0
46,5.1,3.8,1.6,0.2,setosa,1,0,0
47,4.6,3.2,1.4,0.2,setosa,1,0,0
48,5.3,3.7,1.5,0.2,setosa,1,0,0
49,5.0,3.3,1.4,0.2,setosa,1,0,0
50,7.0,3.2,4.7,1.4,versicolor,0,1,0
51,6.4,3.2,4.5,1.5,versicolor,0,1,0
52,6.9,3.1,4.9,1.5,versicolor,0,1,0
53,5.5,2.3,4.0,1.3,versicolor,0,1,0
54,6.5,2.8,4.6,1.5,versicolor,0,1,0
55,5.7,2.8,4.5,1.3,versicolor,0,1,0
56,6.3,3.3,4.7,1.6,versicolor,0,1,0
57,4.9,2.4,3.3,1.0,versicolor,0,1,0
58,6.6,2.9,4.6,1.3,versicolor,0,1,0
59,5.2,2.7,3.9,1.4,versicolor,0,1,0
60,5.0,2.0,3.5,1.0,versicolor,0,1,0
61,5.9,3.0,4.2,1.5,versicolor,0,1,0
62,6.0,2.2,4.0,1.0,versicolor,0,1,0
63,6.1,2.9,4.7,1.4,versicolor,0,1,0
64,5.6,2.9,3.6,1.3,versicolor,0,1,0
65,6.7,3.1,4.4,1.4,versicolor,0,1,0
66,5.6,3.0,4.5,1.5,versicolor,0,1,0
67,5.8,2.7,4.1,1.0,versicolor,0,1,0
68,6.2,2.2,4.5,1.5,versicolor,0,1,0
69,5.6,2.5,3.9,1.1,versicolor,0,1,0
70,5.9,3.2,4.8,1.8,versicolor,0,1,0
71,6.1,2.8,4.0,1.3,versicolor,0,1,0
72,6.3,2.5,4.9,1.5,versicolor,0,1,0
73,6.1,2.8,4.7,1.2,versicolor,0,1,0
74,6.4,2.9,4.3,1.3,versicolor,0,1,0
75,6.6,3.0,4.4,1.4,versicolor,0,1,0
76,6.8,2.8,4.8,1.4,versicolor,0,1,0
77,6.7,3.0,5.0,1.7,versicolor,0,1,0
78,6.0,2.9,4.5,1.5,versicolor,0,1,0
79,5.7,2.6,3.5,1.0,versicolor,0,1,0
80,5.5,2.4,3.8,1.1,versicolor,0,1,0
81,5.5,2.4,3.7,1.0,versicolor,0,1,0
82,5.8,2.7,3.9,1.2,versicolor,0,1,0
83,6.0,2.7,5.1,1.6,versicolor,0,1,0
84,5.4,3.0,4.5,1.5,versicolor,0,1,0
85,6.0,3.4,4.5,1.6,versicolor,0,1,0
86,6.7,3.1,4.7,1.5,versicolor,0,1,0
87,6.3,2.3,4.4,1.3,versicolor,0,1,0
88,5.6,3.0,4.1,1.3,versicolor,0,1,0
89,5.5,2.5,4.0,1.3,versicolor,0,1,0
90,5.5,2.6,4.4,1.2,versicolor,0,1,0
91,6.1,3.0,4.6,1.4,versicolor,0,1,0
92,5.8,2.6,4.0,1.2,versicolor,0,1,0
93,5.0,2.3,3.3,1.0,versicolor,0,1,0
94,5.6,2.7,4.2,1.3,versicolor,0,1,0
95,5.7,3.0,4.2,1.2,versicolor,0,1,0
96,5.7,2.9,4.2,1.3,versicolor,0,1,0
97,6.2,2.9,4.3,1.3,versicolor,0,1,0
98,5.1,2.5,3.0,1.1,versicolor,0,1,0
99,5.7,2.8,4.1,1.3,versicolor,0,1,0
100,6.3,3.3,6.0,2.5,virginica,0,0,1
101,5.8,2.7,5.1,1.9,virginica,0,0,1
102,7.1,3.0,5.9,2.1,virginica,0,0,1
103,6.3,2.9,5.6,1.8,virginica,0,0,1
104,6.5,3.0,5.8,2.2,virginica,0,0,1
105,7.6,3.0,6.6,2.1,virginica,0,0,1
106,4.9,2.5,4.5,1.7,virginica,0,0,1
107,7.3,2.9,6.3,1.8,virginica,0,0,1
108,6.7,2.5,5.8,1.8,virginica,0,0,1
109,7.2,3.6,6.1,2.5,virginica,0,0,1
110,6.5,3.2,5.1,2.0,virginica,0,0,1
111,6.4,2.7,5.3,1.9,virginica,0,0,1
112,6.8,3.0,5.5,2.1,virginica,0,0,1
113,5.7,2.5,5.0,2.0,virginica,0,0,1
114,5.8,2.8,5.1,2.4,virginica,0,0,1
115,6.4,3.2,5.3,2.3,virginica,0,0,1
116,6.5,3.0,5.5,1.8,virginica,0,0,1
117,7.7,3.8,6.7,2.2,virginica,0,0,1
118,7.7,2.6,6.9,2.3,virginica,0,0,1
119,6.0,2.2,5.0,1.5,virginica,0,0,1
120,6.9,3.2,5.7,2.3,virginica,0,0,1
121,5.6,2.8,4.9,2.0,virginica,0,0,1
122,7.7,2.8,6.7,2.0,virginica,0,0,1
123,6.3,2.7,4.9,1.8,virginica,0,0,1
124,6.7,3.3,5.7,2.1,virginica,0,0,1
125,7.2,3.2,6.0,1.8,virginica,0,0,1
126,6.2,2.8,4.8,1.8,virginica,0,0,1
127,6.1,3.0,4.9,1.8,virginica,0,0,1
128,6.4,2.8,5.6,2.1,virginica,0,0,1
129,7.2,3.0,5.8,1.6,virginica,0,0,1
130,7.4,2.8,6.1,1.9,virginica,0,0,1
131,7.9,3.8,6.4,2.0,virginica,0,0,1
132,6.4,2.8,5.6,2.2,virginica,0,0,1
133,6.3,2.8,5.1,1.5,virginica,0,0,1
134,6.1,2.6,5.6,1.4,virginica,0,0,1
135,7.7,3.0,6.1,2.3,virginica,0,0,1
136,6.3,3.4,5.6,2.4,virginica,0,0,1
137,6.4,3.1,5.5,1.8,virginica,0,0,1
138,6.0,3.0,4.8,1.8,virginica,0,0,1
139,6.9,3.1,5.4,2.1,virginica,0,0,1
140,6.7,3.1,5.6,2.4,virginica,0,0,1
141,6.9,3.1,5.1,2.3,virginica,0,0,1
142,5.8,2.7,5.1,1.9,virginica,0,0,1
143,6.8,3.2,5.9,2.3,virginica,0,0,1
144,6.7,3.3,5.7,2.5,virginica,0,0,1
145,6.7,3.0,5.2,2.3,virginica,0,0,1
146,6.3,2.5,5.0,1.9,virginica,0,0,1
147,6.5,3.0,5.2,2.0,virginica,0,0,1
148,6.2,3.4,5.4,2.3,virginica,0,0,1
149,5.9,3.0,5.1,1.8,virginica,0,0,1

##### 1e. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [32]:
def prep_iris():
    iris_db = acquire.get_iris_data()
    iris_db = iris_db.drop(columns=['species_id', 'measurement_id'])
    iris_db = iris_db.rename(columns={'species_name' : 'species'})
    dummies = pd.get_dummies(iris_db['species'])
    iris_db = pd.concat([iris_db, dummies], axis=1)
    return iris_db

In [33]:
prep_iris().sample()

,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
115,6.4,3.2,5.3,2.3,virginica,0,0,1

In [34]:
iris_db = prepare.prep_iris()

### 2. Using the Titanic Data:

##### 2a. Use the function defined in acquire.py to load the Titanic data.

In [35]:
titanic_db = acquire.get_titanic_data()
titanic_db.sample()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
364,364,0,3,male,NaN,1,0,15.5,Q,Third,NaN,Queenstown,0

##### 2b. Drop any unnecessary, unhelpful, or duplicated columns.

In [36]:
# passenger_id, sibsp, parch, embarked, class
titanic_db = titanic_db.drop(columns=['passenger_id', 'sibsp', 'parch', 'embarked', 'class'])
titanic_db.sample()

     survived  pclass   sex   age     fare deck embark_town  alone
453         1       1  male  49.0  89.1042    C   Cherbourg      0

##### 2c. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [37]:
# sex, deck, embark_town
titanic_db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   fare         891 non-null    float64
 5   deck         203 non-null    object
 6   embark_town  889 non-null    object
 7   alone        891 non-null    int64
dtypes: float64(2), int64(3), object(3)
memory usage: 62.6+ KB

In [38]:
dummies = pd.get_dummies(titanic_db[['sex', 'deck', 'embark_town']])
titanic_db = pd.concat([titanic_db, dummies], axis=1)
titanic_db.sample()

,survived,pclass,sex,age,fare,deck,embark_town,alone,sex_female,sex_male,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
152,0,3,male,55.5,8.05,NaN,Southampton,1,0,1,0,0,0,0,0,0,0,0,0,1

In [39]:
titanic_db.isna().sum()

survived                     0
pclass                       0
sex                          0
age                        177
fare                         0
deck                       688
embark_town                  2
alone                        0
sex_female                   0
sex_male                     0
deck_A                       0
deck_B                       0
deck_C                       0
deck_D                       0
deck_E                       0
deck_F                       0
deck_G                       0
embark_town_Cherbourg        0
embark_town_Queenstown       0
embark_town_Southampton      0
dtype: int64

In [40]:
titanic_db.embark_town.value_counts(dropna=False)

Southampton    644
Cherbourg      168
Queenstown      77
NaN              2
Name: embark_town, dtype: int64

In [41]:
titanic_db.embark_town = titanic_db.embark_town.fillna('Southampton')

In [42]:
titanic_db.isna().sum()

survived                     0
pclass                       0
sex                          0
age                        177
fare                         0
deck                       688
embark_town                  0
alone                        0
sex_female                   0
sex_male                     0
deck_A                       0
deck_B                       0
deck_C                       0
deck_D                       0
deck_E                       0
deck_F                       0
deck_G                       0
embark_town_Cherbourg        0
embark_town_Queenstown       0
embark_town_Southampton      0
dtype: int64

In [43]:
titanic_db.age = titanic_db.age.fillna(titanic_db.age.mean())

In [44]:
titanic_db.age.value_counts(dropna=False)

29.699118    177
24.000000     30
22.000000     27
18.000000     26
28.000000     25
30.000000     25
19.000000     25
21.000000     24
25.000000     23
36.000000     22
29.000000     20
35.000000     18
32.000000     18
26.000000     18
27.000000     18
31.000000     17
16.000000     17
34.000000     15
20.000000     15
23.000000     15
33.000000     15
39.000000     14
40.000000     13
17.000000     13
42.000000     13
45.000000     12
38.000000     11
4.000000      10
2.000000      10
50.000000     10
44.000000      9
47.000000      9
48.000000      9
54.000000      8
9.000000       8
1.000000       7
51.000000      7
37.000000      6
52.000000      6
41.000000      6
3.000000       6
14.000000      6
49.000000      6
58.000000      5
15.000000      5
43.000000      5
62.000000      4
56.000000      4
8.000000       4
60.000000      4
11.000000      4
5.000000       4
6.000000       3
7.000000       3
65.000000      3
61.000000      3
46.000000      3
10.000000      2
64.000000      2
13.000000      2
63.000000      2
0.750000       2
70.000000      2
30.500000      2
57.000000      2
59.000000      2
71.000000      2
0.830000       2
40.500000      2
55.000000      2
32.500000      2
28.500000      2
45.500000      2
34.500000      1
0.420000       1
0.670000       1
66.000000      1
24.500000      1
80.000000      1
20.500000      1
53.000000      1
14.500000      1
70.500000      1
12.000000      1
36.500000      1
55.500000      1
0.920000       1
23.500000      1
74.000000      1
Name: age, dtype: int64

In [45]:
titanic_db.isna().sum()

survived                     0
pclass                       0
sex                          0
age                          0
fare                         0
deck                       688
embark_town                  0
alone                        0
sex_female                   0
sex_male                     0
deck_A                       0
deck_B                       0
deck_C                       0
deck_D                       0
deck_E                       0
deck_F                       0
deck_G                       0
embark_town_Cherbourg        0
embark_town_Queenstown       0
embark_town_Southampton      0
dtype: int64

##### 2d. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [46]:
def prep_titanic():
    titanic_db = acquire.get_titanic_data()
    titanic_db = titanic_db.drop(columns=['passenger_id', 'sibsp', 'parch', 'embarked', 'class', 'deck'])
    titanic_db.embark_town = titanic_db.embark_town.fillna('Southampton')
    titanic_db.age = titanic_db.age.fillna(titanic_db.age.mean())
    dummies = pd.get_dummies(titanic_db[['sex', 'embark_town']])
    titanic_db = pd.concat([titanic_db, dummies], axis=1)
    return titanic_db

In [47]:
prep_titanic().sample()

,survived,pclass,sex,age,fare,embark_town,alone,sex_female,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
592,0,3,male,47.0,7.25,Southampton,1,0,1,0,0,1

### 3. Using the Telco Data:

##### 3a. Use the function defined in acquire.py to load the Telco data.

In [48]:
telco_db = acquire.get_telco_data()
telco_db.sample()

,contract_type_id,payment_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,payment_type,contract_type
5069,2,3,2,7129-AZJDE,Male,0,Yes,Yes,34,Yes,...,No,No,Yes,Yes,78.95,2647.2,No,Fiber optic,Bank transfer (automatic),One year

##### 3b. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [49]:
# contract_type_id, payment_type_id, 
# internet_service_type_id, customer_id
telco_db = telco_db.drop(columns=['contract_type_id', 'payment_type_id', 'internet_service_type_id'])
telco_db.sample()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,payment_type,contract_type
6645,9447-YPTBX,Female,0,Yes,No,50,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,Yes,19.85,943.1,No,None,Bank transfer (automatic),One year

##### 3c. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [50]:
telco_db.select_dtypes(include='object').sample()

,customer_id,gender,partner,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,total_charges,churn,internet_service_type,payment_type,contract_type
6132,8685-WHQPW,Female,No,No,Yes,Yes,No,No,No,No,No,No,Yes,1692.6,Yes,Fiber optic,Bank transfer (automatic),Month-to-month

In [51]:
# gender, partner, dependents, phone_service, 
# multiple_lines, online_security, online_backup, 
# device_protection, tech_support, streaming_tv,
# streaming_movies, paperless_billing,
# churn, internet_service_type, payment_type
# contract_type
telco_db.sample()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,payment_type,contract_type
1357,2018-QKYGT,Male,0,Yes,Yes,1,Yes,No,No,No,...,No,No,Yes,Yes,81.05,81.05,No,Fiber optic,Electronic check,Month-to-month

In [52]:
dummies = pd.get_dummies(telco_db.select_dtypes(include='object'))
telco_db = pd.concat([telco_db, dummies], axis=1)
telco_db.sample()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,contract_type_Month-to-month,contract_type_One year,contract_type_Two year
6393,9057-SIHCH,Female,0,No,No,3,Yes,Yes,No,No,...,0,1,0,0,0,1,0,1,0,0

##### 3d. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [53]:
def prep_telco():
    telco_db = acquire.get_telco_data()
    telco_db = telco_db.drop(columns=['contract_type_id', 'payment_type_id', 'internet_service_type_id'])
    dummies = pd.get_dummies(telco_db.select_dtypes(include='object'))
    telco_db = pd.concat([telco_db, dummies], axis=1)
    return telco_db

In [54]:
prep_telco().sample()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,contract_type_Month-to-month,contract_type_One year,contract_type_Two year
5991,8450-LUGUK,Female,0,Yes,Yes,37,Yes,Yes,No internet service,No internet service,...,0,0,1,1,0,0,0,0,0,1

### 4. Split Your Data:

In [55]:
# split our df into train_val and test:
# split our train_val to train and validate:
# Theres no real number that needs to represent the train test
# proportion the best base value is going to be an 80/20
# split in cases where you have an excess of data
# you can get away with allocating more for your test
# and vice versa if you are limited on data
train_val, test = train_test_split(titanic_db, train_size=0.8, random_state=1349, stratify=titanic_db['survived'])

In [56]:
train_val.shape , test.shape

((712, 20), (179, 20))

In [57]:
train, validate = train_test_split(train_val, train_size=0.7, random_state=1349, stratify=train_val['survived'])

In [58]:
train.shape, validate.shape, test.shape

((498, 20), (214, 20), (179, 20))

In [59]:
train.shape[0] + validate.shape[0] + test.shape[0]

891

##### 4a. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [60]:
def prep_split(df):
    strat = input('What column do you want to stratify on')
    train_val, test = train_test_split(df, train_size=0.8, random_state=1349, stratify=df[strat])
    train, validate = train_test_split(train_val, train_size=0.7, random_state=1349, stratify=train_val[strat])
    return train.shape, validate.shape, test.shape

In [61]:
prep_split(titanic_db)

What column do you want to stratify onsurvived

((498, 20), (214, 20), (179, 20))

##### 4b. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [62]:
iris_db = prepare.prep_iris()
iris_train, iris_validate, iris_test = prepare.prep_split(iris_db)

What column do you want to stratify onspecies
train.shape:(84, 8)
validate.shape:(36, 8)
test.shape:(30, 8)

In [63]:
train.shape, validate.shape, test.shape

((498, 20), (214, 20), (179, 20))

##### 4c. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [64]:
titanic_db = prepare.prep_titanic()
titanic_train, titanic_validate, titanic_test = prepare.prep_split(titanic_db)

What column do you want to stratify onsurvived
train.shape:(498, 12)
validate.shape:(214, 12)
test.shape:(179, 12)

In [65]:
titanic_train.shape, titanic_validate.shape, titanic_test.shape

((498, 12), (214, 12), (179, 12))

##### 4d. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [66]:
telco_db = prepare.prep_telco()

In [67]:
telco_db.sample()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,contract_type_Month-to-month,contract_type_One year,contract_type_Two year
5545,7811-JIVPF,Female,0,No,No,23,Yes,No,No,No,...,1,0,0,0,1,0,0,1,0,0

In [2]:
telco_db = prepare.prep_telco()
telco_train, telco_validate, telco_test = prepare.prep_split(telco_db)

What column do you want to stratify onchurn
train.shape:(3943, 64)
validate.shape:(1691, 64)
test.shape:(1409, 64)

In [3]:
telco_train.shape, telco_validate.shape, telco_test.shape

((3943, 64), (1691, 64), (1409, 64))

# Tidy Exercises