<a id="TableOfContents"></a>
# Table of Contents:
<li><a href='#imports'>Imports</a></li>
<li><a href="#Q1">Question 1</a></li>
<li><a href="#Q2">Question 2</a></li>
<li><a href="#Q3">Question 3</a></li>
<li><a href="#Q4">Question 4</a></li>
<li><a href="#Q5">Question 5</a></li>
<li><a href="#Additional">Additional Question</a></li>

<a id='imports'></a>
### IMPORTS:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Basic sheiza
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Stat/Exploration
from scipy import stats

# Modeling
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, export_text, plot_tree
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

# .py files
import acquire
import prepare
import explore
import evaluation

Create a new notebook, random_forests, and work with titanic data to do the following:

In [4]:
# Acquire titanic dataframe
titanic = prepare.prep_titanic()
titanic.sample()

,survived,pclass,sex,age,fare,embark_town,alone,sex_female,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
527,0,1,male,29.699118,221.7792,Southampton,1,0,1,0,0,1

In [5]:
# Identify y_cols
y_titanic = 'survived'

In [6]:
# Identify x_cols
x_titanic = titanic.columns.to_list()
x_titanic = [col for col in x_titanic if col not in ['survived', 'sex', 'embark_town']]
x_titanic

['pclass',
 'age',
 'fare',
 'alone',
 'sex_female',
 'sex_male',
 'embark_town_Cherbourg',
 'embark_town_Queenstown',
 'embark_town_Southampton']

In [8]:
# split data and stratify on survived
train, validate, test = prepare.split(titanic)

What column do you want to stratify onsurvived
train.shape:(498, 12)
validate.shape:(214, 12)
test.shape:(179, 12)

In [9]:
# Verify split shapes
train.shape, validate.shape, test.shape

((498, 12), (214, 12), (179, 12))

In [14]:
models = pd.DataFrame(titanic_train.survived)
models

     survived
474         0
370         1
573         1
110         0
167         0
..        ...
735         0
163         0
770         0
196         0
94          0

[498 rows x 1 columns]

<a id='Q1'></a>
### 1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [15]:
clf1 = RandomForestClassifier(random_state=43110, min_samples_leaf=1, max_depth=10)
clf1.fit(train[x_titanic], train[y_titanic])
model1_rf = clf1.predict(train[x_titanic])
models['model1_rf'] = model1_rf

<a id='Q2'></a>
### 2. Evaluate your results using the model score, confusion matrix, and classification report.
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [25]:
clf1_score = round(clf1.score(train[x_titanic], train[y_titanic]), 2)
clf1_confusion_matrix = confusion_matrix(models.survived, models.model1_rf, labels=(1, 0))
clf1_class_report = classification_report(models.survived, models.model1_rf)
print(f'Score:\n{clf1_score}\n\nConfusion Matrix:\n{clf1_confusion_matrix}\n\nClassification Report:\n{clf1_class_report}')

Score:
0.96

Confusion Matrix:
[[174  17]
 [  2 305]]

Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.99      0.97       307
           1       0.99      0.91      0.95       191

    accuracy                           0.96       498
   macro avg       0.97      0.95      0.96       498
weighted avg       0.96      0.96      0.96       498

<a id='Q3'></a>
### 3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [27]:
# Accuracy
evaluation.accuracy(models, 'survived')

survived: 100.00%

model1_rf: 96.18%

HIGHEST VALUE = model1_rf: 96.18%
LOWEST VALUE = model1_rf: 96.18%

In [28]:
# True Positive Rate
round(clf1_confusion_matrix[0, 0] / clf1_confusion_matrix.sum(), 2)

0.35

In [29]:
# False Positive Rate
round(clf1_confusion_matrix[0, 1] / clf1_confusion_matrix.sum(), 2)

0.03

In [30]:
# True Negative Rate
round(clf1_confusion_matrix[1, 0] / clf1_confusion_matrix.sum(), 2)

0.0

In [31]:
# False Negative Rate
round(clf1_confusion_matrix[1, 1] / clf1_confusion_matrix.sum(), 2)

0.61

In [32]:
# Precision
evaluation.precision(models, 'survived', 1, 0)

survived: 100.00%

model1_rf: 91.10%

HIGHEST VALUE = model1_rf: 91.10%
LOWEST VALUE = model1_rf: 91.10%

In [33]:
# Recall
evaluation.recall(models, 'survived', 1, 0)

survived: 100.00%

model1_rf: 98.86%

HIGHEST VALUE = model1_rf: 98.86%
LOWEST VALUE = model1_rf: 98.86%

In [34]:
# F1 Score
evaluation.f1_score(models, 'survived', 1, 0)

survived: 100.00%

model1_rf: 94.82%

HIGHEST VALUE = model1_rf: 94.82%
LOWEST VALUE = model1_rf: 94.82%

In [35]:
# Support
classification_report(models.survived, models.model1_rf)

'              precision    recall  f1-score   support\n\n           0       0.95      0.99      0.97       307\n           1       0.99      0.91      0.95       191\n\n    accuracy                           0.96       498\n   macro avg       0.97      0.95      0.96       498\nweighted avg       0.96      0.96      0.96       498\n'

<a id='Q4'></a>
### 4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [36]:
# min_samples_leaf = 2, max_depth = 9
clf2 = RandomForestClassifier(random_state=43110, min_samples_leaf=2, max_depth=9)
clf2.fit(train[x_titanic], train[y_titanic])
model2_rf = clf2.predict(train[x_titanic])
models['model2_rf'] = model2_rf

In [37]:
# min_samples_leaf = 3, max_depth = 8
clf3 = RandomForestClassifier(random_state=43110, min_samples_leaf=3, max_depth=8)
clf3.fit(train[x_titanic], train[y_titanic])
model3_rf = clf3.predict(train[x_titanic])
models['model3_rf'] = model3_rf

In [38]:
# min_samples_leaf = 4, max_depth = 7
clf4 = RandomForestClassifier(random_state=43110, min_samples_leaf=4, max_depth=7)
clf4.fit(train[x_titanic], train[y_titanic])
model4_rf = clf4.predict(train[x_titanic])
models['model4_rf'] = model4_rf

In [39]:
# min_samples_leaf = 5, max_depth = 6
clf5 = RandomForestClassifier(random_state=43110, min_samples_leaf=5, max_depth=6)
clf5.fit(train[x_titanic], train[y_titanic])
model5_rf = clf5.predict(train[x_titanic])
models['model5_rf'] = model5_rf

In [40]:
# min_samples_leaf = 6, max_depth = 5
clf6 = RandomForestClassifier(random_state=43110, min_samples_leaf=6, max_depth=5)
clf6.fit(train[x_titanic], train[y_titanic])
model6_rf = clf6.predict(train[x_titanic])
models['model6_rf'] = model6_rf

In [41]:
# min_samples_leaf = 7, max_depth = 4
clf7 = RandomForestClassifier(random_state=43110, min_samples_leaf=7, max_depth=4)
clf7.fit(train[x_titanic], train[y_titanic])
model7_rf = clf7.predict(train[x_titanic])
models['model7_rf'] = model7_rf

In [42]:
# min_samples_leaf = 8, max_depth = 3
clf8 = RandomForestClassifier(random_state=43110, min_samples_leaf=8, max_depth=3)
clf8.fit(train[x_titanic], train[y_titanic])
model8_rf = clf8.predict(train[x_titanic])
models['model8_rf'] = model8_rf

In [43]:
# min_samples_leaf = 9, max_depth = 2
clf9 = RandomForestClassifier(random_state=43110, min_samples_leaf=9, max_depth=2)
clf9.fit(train[x_titanic], train[y_titanic])
model9_rf = clf9.predict(train[x_titanic])
models['model9_rf'] = model9_rf

In [44]:
# min_samples_leaf = 10, max_depth = 1
clf10 = RandomForestClassifier(random_state=43110, min_samples_leaf=10, max_depth=1)
clf10.fit(train[x_titanic], train[y_titanic])
model10_rf = clf10.predict(train[x_titanic])
models['model10_rf'] = model10_rf

In [45]:
models.sample()

,survived,model1_rf,model2_rf,model3_rf,model4_rf,model5_rf,model6_rf,model7_rf,model8_rf,model9_rf,model10_rf
288,1,0,0,0,0,0,0,0,0,0,0

<a id='Q5'></a>
### 5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [46]:
evaluation.f1_score(models, 'survived', 1, 0)

survived: 100.00%

model1_rf: 94.82%

model2_rf: 87.29%

model3_rf: 84.18%

model4_rf: 82.72%

model5_rf: 80.81%

model6_rf: 75.53%

model7_rf: 74.55%

model8_rf: 72.52%

model9_rf: 71.78%

model10_rf: 71.78%

HIGHEST VALUE = model1_rf: 94.82%
LOWEST VALUE = model9_rf: 71.78%

Model-1 performed the best via F-1 Score being the highest...

Something to note, as min_samples_leaf increased and max_depth decreased, the scores consistently  got lower

<a id='Additional'></a>
### Additional. After making a few models, which one has the best performance (or closest metrics) on both train and validate?
<li><a href='#TableOfContents'>Table of Contents</a></li>